html {
    font-family: Courier New, monospace;
}

/* Reset default margin and padding for the body */
body {
    margin: 0;
    padding: 0;
}

/* Style for h2 elements */
h2 {
    color: black;
}

/* Main container styles */
.mainIndexContainer {
    width: 100%;
    height: 300px;
    background-color: #F78154;
    position: relative;
    background-image: url(../img/catimg1.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: height 0.25s ease-in;
}

/* Rotate font-awesome arrow left icon */
.fa-arrow-left {
    rotate: 180deg;
}

/* Hide the element with class 'notShowCat' */
.notShowCat {
    /* display: none; */
    height: 0;
}

/* Logo styles */
#logo {
    height: 100px;
    width: 100px;
}

/* Navigation styles */
nav {
    background-color: #F78154;
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding: 30px;
}

nav ul {
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: flex;
}

nav li {
    display: inline;
}

nav a {
    padding: 0.5em 1.5em;
    text-decoration: none;
    font-size: x-large;
    color: black;
}

/* Title styles */
.titleIndex {
    font-size: x-large;
    margin-bottom: 50px;
    padding-left: 100px;
}

/* Container styles */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Search bar styles */
.searchbar {
    background: white;
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.searchbar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    font-size: 15px;
    color: black;
    padding: 20px;
    font-style: oblique;
    width: 100%;
}

::placeholder {
    color: black;
}

.searchbar button img {
    width: 40px;
}

.searchbar button {
    border: 0;
    border-radius: 50%;
    height: 100%;
    background-color: white;
    cursor: pointer;
    padding: 0;
}

/* Login form styles */
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83.4vh;
    background-image: url(../img/catBackground.png);
}

#check {
    width: 15px;
}

.form-group>input {
    height: 30px;
    width: 100%;
}

.rememberLogin {
    display: flex;
    font-size: 1.1em;
}

.form-container {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    color: black;
    background-color: rgb(247, 210, 198, 0.2);
}

.login>form>input {
    padding: 10px;
    width: 104%;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px;
    margin-bottom: 10px;
}

.login>form>input:hover {
    cursor: pointer;
}

/* Product styles */
.first-product {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-category {
    padding: 0 10px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    overflow-x: scroll;
    overflow-y: hidden;
}

.whole-product {
    width: 100%;
    display: flex;
    margin-left: 0;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-image {
    position: relative;
    width: 500px;
    height: 550px;
    overflow: hidden;
}

.product-info {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.product-brand {
    text-transform: uppercase;
}

.product-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.product-price {
    font-weight: 900;
    font-size: 20px;
}

/* Gallery styles */
.gallery {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    overflow: hidden;
}

.previous-button,
.next-button {
    border: none;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(255, 255, 255, 0) 0% #fff 100%);
    cursor: pointer;
}

.previous-button {
    left: 0;
    transform: rotate(180deg);
}

.next-button {
    right: 0;
}

.previous-button img,
.next-button img {
    opacity: 0.2;
}

.previous-button:hover img,
.next-button:hover img {
    opacity: 1;
}

/* Hover style for anchor tags */
a:hover {
    background-color: rgb(255, 255, 195);
}

/* This CSS style is for the sliding text container */
.sliding-text {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 100px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    height: 50vh;
}

/* Styling for the first span element inside .sliding-text */
.sliding-text span:first-child {
    transform: skew(0deg, -30deg) scaleY(1.33333);
}

/* Styling for the second span element inside .sliding-text */
.sliding-text span:nth-child(2) {
    transform: skew(60deg, -30deg) scaleY(.66667) translate(60px, -10px);
}

.background {
    background-color: #FFB17F;
}

/* Styles for the video element within .background */
.video video {
    padding-top: 15px;
    border-radius: 200px;
    align-items: center;
}

/* Styles for the main content container */
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

/* Styles for the content inside the main container */
.insideContainer1 {
    flex: 1;
    width: 600px;
    margin: 0 25px;
    animation: fadeInUp 2s ease;
}

/* Styles for the image container within the main container */
.aboutUs-img {
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}

/* Styles for the image within .aboutUs-img */
.aboutUs-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Styles for the heading within .insideContainer1 */
.insideContainer1 h2 {
    font-size: 27px;
    margin-bottom: 20px;
    color: black;
}

/* Styles for the paragraphs within .insideContainer1 */
.insideContainer1 p {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 40px;
    color: black;
}

/* Styles for the button within .insideContainer1 */
.insideContainer1 button {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    /* Added 's' to '0.3' to fix transition */
    margin-top: 10px;
}

/* Styles for the button on hover */
.insideContainer1 button:hover {
    transform: scale(1.1);
    background-color: #F76A54;
}

/* Keyframes animation for fading in from below */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes animation for fading in from the right */
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.Our-Cat {
    text-align: center;
    position: relative;
}